body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img
{
  max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: row;
    font-size: 0.9rem;
}

.btn {
    background-color: blue;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

        a
        {
            text-decoration: none;
            color: black;
        }
}

.left_menu, .right_menu {
    justify-content: space-around;
}

.container
{
  width: 80%;
  max-width: 1176px;
  margin: auto;

}


.jumbotron {
  padding: 2rem 0;
  margin-bottom: 2rem;
  background-color: lightblue;
}

.container_low {
    display: flex;

    p {
        font-size: 0.8rem;
    }
    
}

.jumbo {
    width: 70%;
}

.clm3 {
    display: flex;
    padding-top: 4rem;
    justify-content: space-between;
    
}

.card_clm {
    width: calc(100% / 3 - 1rem);
    border: 1px dashed;
}

.top {
    text-align: center;
    height: 3rem;
   padding-top: 30px;
   border-bottom: 1px dashed;

}

.center {
    padding-left: 10px;
}

.list_unstyled {
    list-style: none;
    font-size: 0.8rem;
    padding-left: 0.4rem;
    line-height: 1.8rem;
}

.trial {
   text-align: center;
}

.bottom {
    padding-top: 2rem;
    padding-left: 1rem;
}

.btn1 {
    background-color: rgb(32, 110, 184);
    color: white;
    border: none;
    height: 30px;
    width: 170px;
}

.checkmark {
    color: rgb(0, 128, 128);
}

.card_row {
    width: 100%;
    border: 1px dashed;
    }

.up {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.low {
    padding-left: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}

.lowf {
    padding-left: 10px;
    font-size: 0.9rem;
    padding-top: 2rem;
}

.walking {
    max-width: 100%;
    display: flex;
    font-size: 0.9rem;
}

.partner {
    max-width: 60%;
    padding-right: 1rem;
}

.find {
    background-color: white;
    height: 2rem;
}

.row {
    display: flex;
}

.col {
    width: calc(100% / 3 - rem);
    padding: 10px;
}